
	<header>
		<h1>Perfil de Usuario</h1>
	</header>
	<main>
		<section>
			<h2>Información Personal</h2>
			<ul>
				<li>Nombre: Juan Pérez</li>
				<li>Edad: 32 años</li>
				<li>País: México</li>
				<li>Género: Masculino</li>
			</ul>
		</section>
		<section>
			<h2>Intereses</h2>
			<ul>
				<li>Comida favorita: Nachos</li>
				<li>Deporte favorito: Baloncesto</li>
			</ul>
		</section>

        <div>
            <p>El siguiente link es un gif secreto que sólo puedes ver si estás registrado!</p>
            <a href="/user/private">Botón secreto</a>
            <hr>

            <p>Y este es un botón que te lleva a una imagen pública, que NO podrás ver si estás registrado!</p>
            <a href="/user/main">Imagen pública</a>
        </div>
	</main>
    <hr>
    <form action="/user/logout" method="post">
     <button type="submit">Logout</button>
    </form>


